<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>
</head>

<body>

    <form action="/addnewaddress" method="post">
        {% csrf_token %}
        <label for="">Country:</label>
        <input type="text" name="country" id="country">

        <br>

        <label for="">City:</label>
        <input type="text" name="city" id="city">

        <br>

        <label for="">Street:</label>
        <input type="text" name="street" id="street">

        <input type="hidden" name="user_id" value="{{ user_id }} ">

        <br>

        <input type="submit" value="Add">
    </form>

    <a href="/show">View All</a>
</body>

</html>