<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All</title>
</head>

<body>


    <table>
        <tr>
            <th>Id</th>
            <th>firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Delete</th>
            <th> Add Address </th>
            <th>View Addresses</th>
        </tr>

        {% for user in allusers %}
        <tr>
            <td> <a href="/viewById/{{ user.id }}"> {{ user.id }} </a> </td>
            <td> {{ user.firstname }} </td>
            <td> {{ user.lastname }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.phonenumber }} </td>
            <td> 
                <form action="/delete_by_id" method="post" >
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button>Delete</button>  
                </form>
                
                
            </td>
            <td>
                <a href="/addaddress/{{ user.id }} ">Add Address</a>

            </td>
            <td>
                <a href="/viewaddress/{{ user.id }}">View Addresses</a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <a href="/home">Home</a>
    <a href="/signout">Sign Out</a>
</body>

</html>